{% extends 'base.html' %}
{% block content %}

<h2>Admin Dashboard</h2>

<a href="/logout">Logout</a>

<h3>Add Event</h3>
<form method="POST" action="/admin/add">
    <input name="name" placeholder="Event Name" required>
    <input type="date" name="date" required>
    <input name="venue" placeholder="Venue" required>
    <button>Add Event</button>
</form>

<h3>All Events</h3>

<table>
<tr>
<th>Name</th>
<th>Date</th>
<th>Venue</th>
<th>RSVP</th>
<th>Action</th>
</tr>

{% for e in events %}
<tr>
<td>{{ e.name }}</td>
<td>{{ e.date }}</td>
<td>{{ e.venue }}</td>
<td>{{ e.rsvp }}</td>
<td><a href="/admin/delete/{{ e.id }}">Delete</a></td>
</tr>
{% endfor %}
</table>

{% endblock %}